tr{
  height: 7rem;
}

th{
  width: 150px;
  text-align: right;
}

td{
  padding-left: 20px;
}

input[type="submit"]:hover {
  background-color: green;
  opacity: 0.5;
}
.submit_button{
  text-align: center;
}
footer p{text-align: center;}



textarea{
  vertical-align: middle;
  width: 500px;
  resize: vertical;
}

input[type = "text"]  {
  width: 350px;

}
